@tailwind base;
@tailwind components;
@tailwind utilities;

.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}
.react-input-emoji--container {word-break: break-all;}
.jordy > img {position: fixed;left: 50%;bottom: 0;transform: translateX(-50%);z-index: -1;}
